body {
    font-family: Arial
}

h1 {
    text-align: center;
    font-size: 5vh;
    margin-block-start: 0.10em;
    margin-block-end: 0.30em;
}

h2 {
    text-align: center;
    font-size: 4vh;
    margin-block-start: 0.2vh;
    margin-block-end: 0.2vh;
}

.green {
    color: #0ED52D
}

.intro {
    text-align: center;
    font-size: 1.8vh;  
    margin-block-start: 0.2vh;
    margin-block-end: 0.2vh;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.webAd {
    display: none;
    width: 90px;
    height: 728px;
}

.mobileAd {
    display: block;
    border: solid lightgrey;
    background-color: lightgrey;
    width: 300px;
    height: 50px;
    width: 50%;
    margin: 0 auto;
}

.landingpage:hover {
    color: #0ED52D;
}

.landingpage:active {
    color: #0ED52D;
}

#center {
    width: 100%;
}

#city {
    font-size: 3vh;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2vh;
}  

#map {
    height: 42vh;
    width: 100%;
    margin: 2vh auto
}

#res {
    text-align: center;
    font-size: 4vh;
    font-weight: 600;
    margin-block-start: 0.2vh;
    margin-block-end: 0.5vh;
    margin-bottom: 4vh;
}

#appstore {
    margin: 1vh;
}



@media (min-width: 600px) {

    h1 {
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
    }

    .webAd {
        display: block;
    }

    .mobileAd {
        display: none;
    }

    #center {
        width: calc(95% - 180px);
    }


}

